<section class="work">
    <div class="wrapper">

      <div class="row">
        <div class="card card_full card_1">
          <div class="card_inner pink">
            <p>Design Resources</p>
            <h2>Learning Resources</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card card_half left card_2">
          <div class="card_inner green">
            <p>Designs for Front End</p>
            <h2>Collections</h2>
          </div>
        </div>

        <div class="card card_half right card_3">
          <div class="card_inner purple">
            <p>Projects for Back End</p>
            <h2>Projects</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card card_full card_4">
          <div class="card_inner blue">
            <p>Blogs</p>
            <h2>Road to Developer</h2>
          </div>
        </div>
      </div>

    </div>
  </section>