$pink: #ea48eb;
$white: #ffffff;
$grey: #414148;

@mixin bg_img($url, $size, $position){
  background-image: image-url($url);
  background-size: $size;
  background-position: $position;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
}

.cf:before, .cf:after{
  content: "";
  display: table;
}

.cf:after{
  clear: both;
}

.wrapper{
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.banner{
  padding: 5em 0;
  border-bottom: 1px solid #E9E9E9;
  .logo{
    float: left;
  }
  h1{
    color: $grey;
    text-align: right;
    font-size: 5em;
    display: inline;
    float: right;
    margin: 0;
  }
}

.logo{
  background: $pink;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: $white;
  font-size: 1.1em;
}

.row{
  width: 100%;
  margin-bottom: 2em;
  &:before, &:after{
    content: "";
    display: table;
  }
  &:after{
    clear: both;
  }
}

.work{
  background: $grey;
  width: 100%;
  padding: 5em 0;
  .card{
    background: $white;
    border-radius: .35em;
    height: 450px;
    display: table;
    background-repeat: no-repeat;
  }
  .card_full{
    width: 100%;
  }

  .card_half{
    width: 48.5%;
    float: left;
  }

  .card_third{
    width: 75%;
  }

  .left{
    margin-right: 1.5%;
  }

  .right{
    margin-left: 1.5%;
  }

  .card_1{
    @include bg_img('keyboard.jpg', 100%, 100% 100%);
  }

  .card_2{
    @include bg_img('stackbooks.jpg', 100%, 100% 100%);
  }

  .card_3{
    @include bg_img('projects.jpg', 100%, 100% 100%);
  }

  .card_4{
    @include bg_img('road.jpg', 100%, 100% 100%);
  }

  .card_inner{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 1.5em 12%;
    color: $white;
    p {
      font-size: .8em;
      text-transform: uppercase;
      font-weight: 700;
    }
    h2{
      font-size: 4em;
      margin: 0;
      a{
        text-decoration: none;
        color: $white;
        font-family: 'Raleway', sans-serif;
        &:hover{
          color: rgba(145, 89, 219, 1);
        } 
      }
    }
  }

  .pink, .green, .purple, .blue{
    border-radius: .35em;
  }

  .pink{
    background: rgba(230, 56, 222, .6);
  }

  .green{
    background: rgba(80, 218, 93 , .6);
  }

  .purple{
    background: rgba(145, 89, 219, .6);
  }

  .blue{
    background: rgba(131, 226, 245 , .6);
  }
}

footer{
  padding: 3em 0;
  border-top: 1px solid #E9E9E9;
  .logo{
    float: left;
    margin: 0;
  }

  ul{
    list-style: none;
    margin: 0;
    padding-top: 1em;
    li{
      display: inline;
      float: left;
      margin-left: 4em;
      .title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: .75em;
        display: block;
        padding-bottom: .5em;
      }
      .links{
        font-size: 1.75em;
        a{
          color: $grey;
          text-decoration: none;
          &:hover{
            color: $pink;
          }
        }
      }
    }
  }
  #copyright{
    text-align: center;
  }
}

#page_title{
  text-align: center;
  padding: 2em 0;
  font-size: 1rem;
  text-transform: uppercase;
}

// Contact Page CSS
.skinny_wrapper{
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
  #wrapme{
    min-height: 400px;
    padding: 8em 0;
    text-align: center;
  }
}

.wrapper_padding{
  padding: 4rem 0;
}

.hidden{
  display: none;
}

input[type="text"], input[type="email"], input[type="password"], textarea{
  width: 100%;
  max-width: 100%;
  height: 4em;
  border: 2px solid #E9E9E9;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea{
  min-height: 20em;
}

input[type="submit"]{
  outline: none;
  background: transparent;
  border: 2px solid #E9E9E9;
  text-align: center;
  font-size: 1em;
  color: #424652;
  text-decoration: none;
}

@media screen and (max-width: 800px){
  .work{

    .card_half{
      width: 100%;
    }

    .left{
      margin-right: 0;
      margin-bottom: 2.5%;
    }

    .right{
      margin-left: 0;
      margin-top: 2.5%;
    }
  }
}