<footer>
  <div class="wrapper cf">
    <p class="logo">LC</p>
      <ul class="cf">
        <li>
          <span class="title">Get in Touch</span>
          <span class="links"><a href="#">Email</a></span>
        </li>

        <li>
          <span class="title">Share on:</span>
          <span class="links">
            <a href="#">Twitter</a> &nbsp; <a href="#">Facebook</a> &nbsp; <a href="#">Google+</a> &nbsp;
          </span>
        </li>
      </ul>
    </p>
  </div>
</footer>