<footer>
  <div class="wrapper cf">
    <p class="logo">LC</p>
      <ul class="cf">
        <li>
          <span class="title">Get in Touch</span>
          <span class="links"><a href="#"><i class="fa fa-envelope-o" ></i></a></span>
        </li>

        <li>
          <span class="title">Share on:</span>
          <span class="links">
            <a href="#"><i class="fa fa-twitter" ></i></a> &nbsp; <a href="#"><i class="fa fa-facebook" ></i></a> &nbsp; <a href="#"><i class="fa fa-google-plus " ></i></a> &nbsp;
          </span>
        </li>
      </ul>
    </p>

    <p id="copyright">&copy; leo.cheung 2016</p>
  </div>
</footer>