<header id="main_navigation" class="clearfix">
  <div class="container">
    <nav>
      
      <a href=""><i class="fa fa-leanpub" aria-hidden="true"></i>
  Resources</a>
      <a href=""><i class="fa fa-deviantart" aria-hidden="true"></i>
  Collection</a>
      <a href=""><i class="fa fa-product-hunt" aria-hidden="true"></i>
  Project</a>
      <a href=""><i class="fa fa-rss" aria-hidden="true"></i>
  Blog</a>
  <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i>
  Contact</a>

    </nav>
  </div>
</header>